# .gitignore template for skeleton-based apps
/compiled
/qx_packages
/android
/node_modules
/deployed
/www
/ios
.package-cache.json
package.json
package-lock.json
project-summary.md
capacitor.config.json
